<article id="products-main-content">
  <h1>Dibukeng Products</h1>
  <p>Dibukeng is the official supplier of all Uniting Reformed Church in 
    Southern Africa documents, registers, receipt books, hymn books and uniform. 
    As part of its missionary mandate, it has opened its doors to other churches 
    in and outside South Africa. It stocks about 15 different hymnbooks in 9 
    different languages. In doing so, it serves different churches which are 
    part of the body of Christ.
  </p>
  <p>It is not a general thing that a bookshop stocks attire like ties, collars, 
    hats and pins. However, Dibukeng stocks the whole range of official church 
    attire like those of Christian Women Ministry, Christian Men’s Ministry, 
    Christian Women League, Sunday School and Christian Youth Ministry.
  </p>
  <p>Currently, Dibukeng is one of the only two shops in Pretoria which sells 
    Holy Communion ware. Here you find a variety of silver ware, Perspex, wood 
    and plastic items. It has two types of communion bread as well as non-alcoholic 
    Sacramental wine. </p>
  <p>At Dibukeng you will find Sunday School and Catechism material as well as other 
    publications which are of great value in teaching children about God and helping 
    them to build up their faith. It has a collection of theological books and a wide 
    range of carefully selected general Christian literature to meet the needs of both 
    Evangelicals and Pentecostals.</p>
  <p>In addition, Dibukeng has also become an important provider of school text books 
    for Grade R up to Grade 12. Learners in and around Pretoria as well as from all over 
    the Gauteng, Limpopo and Mpumalanga provinces buy their text-books from Dibukeng.
  </p>
  <p>Dibukeng keeps a variety of Christian books on leadership, parental guidance, marriage, 
    relationship, support and counselling.</p>
  <section id="buk-collection-slideshow" class="carousel slide carousel-fade col-lg-12 col-md-12 col-sm-12 col-xs-12"
    data-interval="3000" data-ride="carousel">
    <h2>Books on Display</h2>
    <div class="carousel-inner">
      <div class="item active"><img src="assets/categories-Shelf-Children.jpeg" alt="Children books"></div>
      <div class="item"><img class="img-responsive img-rounded" src="assets/categories-Shelf-Children2.jpeg" alt="Children books"></div>
      <div class="item"><img class="img-responsive img-rounded" src="assets/categories-Shelf-Devotions.jpeg" alt="Devotion books"></div>
      <div class="item"><img class="img-responsive img-rounded" src="assets/categories-Shelf-Gift.jpeg" alt="Gift books"></div>
      <div class="item"><img class="img-responsive img-rounded" src="assets/categories-Shelf-Motivation.jpeg" alt="Motivation books"></div>
      <div class="item"><img class="img-responsive img-rounded" src="assets/categories-Shelf-Teens.jpeg" alt="Teen books"></div>
      <div class="item"><img class="img-responsive img-rounded" src="assets/categories-Shelf-Worship.jpeg" alt="Worship books"></div>
      <div class="item"><img class="img-responsive img-rounded" src="assets/categories-Shelf-Worship2.jpeg" alt="Worship books"></div>
    </div>
    <a href="#buk-collection-slideshow" class="carousel-control left" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a href="#buk-collection-slideshow" class="carousel-control right" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </section>
</article>
