<article class="staff-main-content">
    <h1>Dibukeng Staff</h1>
    <p>
        Dibukeng has a total staff of twelve, nine employees, one part-time bookkeeper, one cleaner and two relievers. 
        Of these, four are male and eight are female.
    </p>
    <section class="buk-staff catalogue-ribbon col-lg-12 col-md-12 col-sm-12 col-xs-12 clearfix">
        <h2>Grootkerk Staff</h2>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">   
            <img src="assets/grootkerkStaff1_774x1032.jpeg" class="img-responsive img-rounded" alt="motivations book cover">
            <p>Staff Name here</p>
            <p>Job Title here</p>
            <p>Quotation by staff</p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">   
            <img src="assets/grootkerkStaff2_774x1032.jpeg" class="img-responsive img-rounded" alt="motivations book cover">
            <p>Staff Name here</p>
            <p>Job Title here</p>
            <p>Quotation by staff</p>
        </div>
    </section>
    <section class="buk-staff catalogue-ribbon col-lg-12 col-md-12 col-sm-12 col-xs-12 clearfix">
        <h2>Main Branch Staff</h2>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">   
            <img src="assets/grootkerkStaff1_774x1032.jpeg" class="img-responsive img-rounded" alt="motivations book cover">
            <p>Staff Name here</p>
            <p>Job Title here</p>
            <p>Quotation by staff</p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">   
            <img src="assets/grootkerkStaff2_774x1032.jpeg" class="img-responsive img-rounded" alt="motivations book cover">
            <p>Staff Name here</p>
            <p>Job Title here</p>
            <p>Quotation by staff</p>
        </div>
    </section>
    <section class="buk-staff catalogue-ribbon col-lg-12 col-md-12 col-sm-12 col-xs-12 clearfix">
        <h2>Silverton Staff</h2>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">   
            <img src="assets/grootkerkStaff1_774x1032.jpeg" class="img-responsive img-rounded" alt="motivations book cover">
            <p>Staff Name here</p>
            <p>Job Title here</p>
            <p>Quotation by staff</p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">   
            <img src="assets/grootkerkStaff2_774x1032.jpeg" class="img-responsive img-rounded" alt="motivations book cover">
            <p>Staff Name here</p>
            <p>Job Title here</p>
            <p>Quotation by staff</p>
        </div>
    </section>
</article>
