<article class="staff-main-content">
    <h1>Dibukeng Staff</h1>
    <p>
        Dibukeng has a total staff of twelve, nine employees, one part-time bookkeeper, one cleaner and two relievers. 
        Of these, four are male and eight are female.
    </p>
    <section class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h2>Grootkerk Staff</h2>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">   
                <img src="assets/grootkerkStaff1_250x333.jpg" class="img-responsive img-thumbnail buk-staff-img" 
                    alt="Grootkerk staff image">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 buk-staff-descr">   
                <h3>Staff Name here</h3>
                <p>Job Title here</p>
                <p>Short Quote from staff:
                    <q>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</q>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">   
                <img src="assets/grootkerkStaff2_250x333.jpg" class="img-responsive img-thumbnail buk-staff-img" 
                    alt="Grootkerk staff image">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 buk-staff-descr">   
                <h3>Staff Name here</h3>
                <p>Job Title here</p>
                <p>Short Quote from staff:
                    <q>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</q>
                </p>
            </div>
        </div>
    </section>
    <section class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h2>Main Branch Staff</h2>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">   
                <img src="assets/grootkerkStaff1_250x333.jpg" class="img-responsive img-thumbnail buk-staff-img" 
                    alt="Main Branch staff image">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 buk-staff-descr">   
                <h3>Staff Name here</h3>
                <p>Job Title here</p>
                <p>Short Quote from staff:
                    <q>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</q>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">   
                <img src="assets/grootkerkStaff2_250x333.jpg" class="img-responsive img-thumbnail buk-staff-img" 
                    alt="Main Branch staff image">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 buk-staff-descr">   
                <h3>Staff Name here</h3>
                <p>Job Title here</p>
                <p>Short Quote from staff:
                    <q>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</q>
                </p>
            </div>
        </div>
    </section>
    <section class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h2>Silverton Staff</h2>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">   
                <img src="assets/grootkerkStaff1_250x333.jpg" class="img-responsive img-thumbnail buk-staff-img" 
                    alt="Silverton staff image">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 buk-staff-descr">   
                <h3>Staff Name here</h3>
                <p>Job Title here</p>
                <p>Short Quote from staff:
                    <q>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</q>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">   
                <img src="assets/grootkerkStaff2_250x333.jpg" class="img-responsive img-thumbnail buk-staff-img" 
                    alt="Silverton staff image">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 buk-staff-descr">   
                <h3>Staff Name here</h3>
                <p>Job Title here</p>
                <p>Short Quote from staff:
                    <q>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</q>
                </p>
            </div>
        </div>
    </section>
</article>
