<p>Dibukeng was established in 1946 by Mr Willie Theron and other spirit-led believers 
  from the Dutch Reformed Church. They all shared the same vision of reaching out to 
  people through the Bible and additional Christian literature.
</p>
<p>Their mission started in the garage of a house in Boom Street in Pretoria under the 
  leadership of Mr Theron who was a postmaster of the Pretoria Central Post Office. He 
  started raising funds by sending letters to all the Therons that he could find in the 
  telephone directory during the post-World War 11 period. Initially, all the work was 
  done in Pretoria and the printing work was later moved to Bloemfontein under the name 
  of NG Sending Uitgewers.
</p>
<p>The bookshop in Pretoria kept the name NG Sendingboekhandel but was later changed to 
  Dibukeng. The shop moved to a house in Hoop Street and when the Willie Theron Building 
  was erected in 1973/4, Dibukeng was the first tenant to move in. Today, it still houses 
  the main branch, also known as ‘Hooftak’ which is Dibukeng’s main distribution point and 
  depot.
</p>
<p>At a later stage a second branch was established in Bosman Street next to the Dutch 
    Reformed Church- Grootkerk, situated on corner Bosman and the then Vermeulen which is 
    now Madiba Street. Two other branches were opened in Silverton and Brits respectively. 
    Unfortunately, the Brits branch did not exist for long.
</p>