<footer>
    <div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
              <p><i class="fas fa-map-marker-alt"></i>Address:</p>
              <p><i class="fas fa-phone"></i>Phone:</p>
              <p><i class="fas fa-envelope"></i>Email:</p>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-3 col-xs-3">
              <a><p>Projects</p></a>
              <a><p>Downloads</p></a>
              <a><p>About</p></a>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-3 col-xs-3">
              <a><p>Collection</p></a>
              <a><p>Shops</p></a>
              <a><p>Churches</p></a>
          </div>
        </div>
    </div>
</footer>