<aside>
    <div id="categories-main-content">
      <h3>Categories</h3>
      <ul>
        <li>Bible/Bible Study Resources</li>
        <li>Counselling/Support</li>
        <li>Christian living</li>
        <li>Christian novels</li>
        <li>Church & Church History</li>
        <li>Devotion</li>
        <li>Devotion</li>
        <li>God</li>
        <li>Heaven/Hell/Angels</li>
        <li>Holy Spirit</li>
        <li>Leadership</li>
        <li>Marriage/Relationship</li>
        <li>Missiology</li>
        <li>Motivational</li>
        <li>Men</li>
        <li>Parenting</li>
        <li>Prayer</li>
        <li>Women</li>
        <li>Youth</li>
      </ul>
    </div>
</aside>