<div>
    <h1>Dibukeng Christian BookShop</h1>
    <p>Welcome to the homepage of Dibukeng Christian Bookshop. We are a bookshop of the 
      Uniting Reformed Church in Southern Africa – Northern Synod located on corner Bosman 
      and Madiba Streets in the city centre of Pretoria. Our mission is to spread the Gospel 
      through printed and audio-visual media to people of all colour, nationality, language and creed.</p>
    <p>Our primary focus is not only to serve the Uniting Reformed Church but the Body of Christ in its 
      diversity. We strive to provide a variety of Christian products at a reasonable price to meet the 
      needs of a spiritually hungry public. Our wish is that God, will empower Dibukeng to cultivate a 
      culture of reading in our communities through the churches.</p>
    <p>To know more about our bookshop please feel free to surf our web page.
      You can find out:</p>
    
    <p>Welcome to our website and we are looking forward to seeing you soon at Dibukeng!</p>
    <p>Rev. Dr. Tipi Jacob Nthakhe<br>(General Manager)</p>
    
</div>
