<section id="home-main-content">
    <h1>Dibukeng Christian BookShop</h1>
    <p>Welcome to the homepage of Dibukeng Christian Bookshop. We are a bookshop of the 
      Uniting Reformed Church in Southern Africa – Northern Synod located on corner Bosman 
      and Madiba Streets in the city centre of Pretoria. Our mission is to spread the Gospel 
      through printed and audio-visual media to people of all colour, nationality, language and creed.</p>
    <p>Our primary focus is not only to serve the Uniting Reformed Church but the Body of Christ in its 
      diversity. We strive to provide a variety of Christian products at a reasonable price to meet the 
      needs of a spiritually hungry public. Our wish is that God, will empower Dibukeng to cultivate a 
      culture of reading in our communities through the churches.</p>
    <p>To know more about our bookshop please feel free to surf our web page.
      You can find out:</p>
    
    <p>Welcome to our website and we are looking forward to seeing you soon at Dibukeng!</p>
    <p>Rev. Dr. Tipi Jacob Nthakhe<br>(General Manager)</p> 
</section>
<section id="buk-catalogue">
  <div class="catalogue-ribbon col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h2>Bible Catalogue</h2>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
      <img src="assets/bibleCoverSlide1_350x499.jpg" class="img-responsive img-rounded" alt="bible book cover">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
      <img src="assets/bibleCoverSlide2_339x500.jpg" class="img-responsive img-rounded" alt="bible book cover">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
      <img src="assets/bibleCoverSlide4_359x499.jpg" class="img-responsive img-rounded" alt="bible book cover">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
      <img src="assets/bibleCoverSlide3_350x500.jpg" class="img-responsive img-rounded" alt="bible book cover">
    </div>
  </div>
  <div class="catalogue-ribbon col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h2>Devotions Catalogue</h2>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
      <img src="assets/devoctionCoverSlide1_341x500.jpg" class="img-responsive img-rounded" alt="devotions book cover">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
      <img src="assets/devoctionCoverSlide2_324x499.jpg" class="img-responsive img-rounded" alt="devotions book cover">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
      <img src="assets/devoctionCoverSlide3_361x499.jpg" class="img-responsive img-rounded" alt="devotions book cover">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
      <img src="assets/devoctionCoverSlide4_387x500.jpg" class="img-responsive img-rounded" alt="devotions book cover">
    </div>
  </div>
  <div class="catalogue-ribbon col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h2>Prayer Catalogue</h2>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
      <img src="assets/prayerCoverSlide1_333x499.jpg" class="img-responsive img-rounded" alt="prayer book cover">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
      <img src="assets/prayerCoverSlide2_326x499.jpg" class="img-responsive img-rounded" alt="prayer book cover">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
      <img src="assets/prayerCoverSlide3_333x500.jpg" class="img-responsive img-rounded" alt="prayer book cover">
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
      <img src="assets/prayerCoverSlide4_324x499.jpg" class="img-responsive img-rounded" alt="prayer book cover">
    </div>
  </div>
  <div class="catalogue-ribbon col-lg-12 col-md-12 col-sm-12 col-xs-12 clearfix">
      <h2>Motivations Catalogue</h2>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
        <img src="assets/motivationsCoverSlide1_333x499.jpg" class="img-responsive img-rounded" alt="motivations book cover">
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
        <img src="assets/motivationsCoverSlide2_333x499.jpg" class="img-responsive img-rounded" alt="motivations book cover">
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
        <img src="assets/motivationsCoverSlide3_322x499.jpg" class="img-responsive img-rounded" alt="motivations book cover">
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
        <img src="assets/motivationsCoverSlide4_324x500.jpg" class="img-responsive img-rounded" alt="motivations book cover">
      </div>
  </div>
</section>
