<buk-header></buk-header>
<div class="container buk-main-container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <breadcrumb [allowBootstrap]="true"></breadcrumb>
      <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <router-outlet></router-outlet>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 buk-right-sidebar">
        <categories-sidebar></categories-sidebar>
        <specials-sidebar></specials-sidebar>
      </div>
    </div>
  </div>
</div>
<buk-footer></buk-footer>