/* Dibukeng root app custom styling */

/*===========================================================================================
1. LAYOUT, NAVIGATION AND AESTHETICS
===========================================================================================*/
.buk-head-logo{
    font-size: 20px;
    color: whitesmoke;
}

.buk-navbar-container{
    padding-top: 5px;
    padding-right: 15px;
    padding-left: 15px;
}

.buk-main-container{
    margin-top: 0;
    padding-top: 10px;
}

@media screen and (max-width: 375){
    .buk-main-container {
      margin-top: 0;
    }
}

.buk-main-container h1 {
    margin-top: 5px;
    color: #191970;
}


header{
    display: block;
    font-size: 16px;
}

header > div{
    padding-left:0;
}

.sticky-top-nav{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
}

.sticky-top-nav nav{
    position: relative;
    background-color: #191970;
    margin-bottom: 0;
}

.sticky-top-nav nav .navbar-header{
    text-align: center;
}

.sticky-top-nav nav .navbar-toggle{
    float: none;
    text-align: center;
}

.sticky-top-nav nav .navbar-toggle .icon-bar {
    background-color: #FFFFF0;
}

.sticky-top-nav nav .navbar-toggle .icon-bar span .nav-menu{
    color: #FFFFF0;
}

.sticky-top-nav nav .navbar-toggle{
    float: left;
}

.sticky-top-nav nav ul {
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    padding-right: 0;
    padding-left: 0;

}

.sticky-top-nav nav ul > li > a:focus{
    color: deepskyblue;
    font-weight: 800;
    cursor: pointer;
    text-decoration: none;
}

/* Last nav menu item must not have right margin */
.sticky-top-nav nav ul li:last-child{
    margin-right: 0;
}

.sticky-top-nav nav ul li > a{
   color: #f5fffa;
   font-weight: 500;
   font-family: sans-serif;
}

/* Fill entire menu item with #FFFFF0 color */
.sticky-top-nav nav ul > li:hover,
.sticky-top-nav nav ul > li:focus{
    background-color:#FFFFF0;
    cursor: pointer;
}

/* Changes font color of <a> when <li> has hover and focus */
.sticky-top-nav nav ul > li:hover > a,
.sticky-top-nav nav ul > li:focus > a{
    color:#191970;
    font-weight: 800;
    text-decoration: none;
}

footer{
    background-color: whitesmoke;
    color: #191970;
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-top: 10px;
}

footer a,
footer a:hover,
footer a:focus{
    cursor: pointer;
    text-decoration: none;
}

aside#specials-main-content,
aside#categories-main-content{
    margin-bottom: 10px;
    border-left-style: ridge;
    border-right-style: ridge;
    border-bottom-style: ridge;
    border-radius: 0 0 20px 20px;
    border-color: #191970;

    /* asides stick to right sidebar 
       https://www.w3schools.com/howto/howto_css_sticky_element.asp
    position: -webkit-sticky; /* Safari */
    /*position: sticky;
    top: 0;
    z-index: 1;*/
}

aside#specials-main-content h3,
aside#categories-main-content h3{
    color: #f5fffa;
    font-weight: 800;
    text-align: center;
    background-color: #191970;
    margin-top: 0;
    margin-bottom: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

aside#specials-main-content p,
aside#categories-main-content p{
    padding-left: 30px;
}

aside#specials-main-content ul,
aside#categories-main-content ul{
    list-style: none;
}

aside#categories-main-content ul li:before{
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0a4";
    color: inherit;
    padding-right: 5px;
}

.buk-main-container .breadcrumb{
    font-size: 95%;
    margin-bottom: 10px;
}

@media (min-width: 360px) {
    .buk-main-container .breadcrumb{
        margin-bottom: 2px;
    } 
}

.fluid-bread{
    padding-left: 0;
}

.buk-main-container .breadcrumb > .active{
    color:#191970;
}

.buk-main-container .breadcrumb a{
    color: inherit;
    text-decoration: none;
}

/* Change the Bootstrap breadcrumb seperator */
/* https://fontawesome.com/how-to-use/on-the-web/advanced/css-pseudo-elements */
.buk-main-container .breadcrumb > li + li:before{
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f105";
    color: inherit;
}

.catalogue-ribbon{
    padding: 0;
    display: inline-block;
    /* padding: 10px 20px 10px 20px; */
    margin-right: 40px;
    margin-top: 10px;
    margin-bottom: 5px;
    border-left-style: ridge;
    border-right-style: ridge;
    border-bottom-style: ridge;
    border-radius: 0 0 20px 20px;
    border-color: #191970;
}

.catalogue-ribbon > div{
    padding-left: 15px;
    padding-top: 10px
}

.catalogue-ribbon div{
    padding-bottom: 15px;
}

@media screen and (max-width: 768px){
    .catalogue-ribbon > div{
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 8px
    }
    
    .catalogue-ribbon div{
        padding-bottom: 10px;
    } 
}

.catalogue-ribbon > h2{
    margin-top: 0;
    padding-left: 15px;
    background-color: #191970;
    color: #f5fffa;
    font-weight: 600;
}

footer .container i{
    padding-right: 3px;
}

/* Small to medium devices */
@media screen and (max-width: 768px){
    h1{
        font-size:20px;
        margin-top: 10px;
    }

    h2{
        font-size: 18px;
        margin-top: 10px;
    }
    
    h3{
        font-size: 16px;
        margin-top: 10px;
    }
    
    h4{
        font-size: 14px;
    }
    
    h5{
        font-size: 12px;
    }
    
    h6{
        font-size: 10px;
    }
    /* Dont display breadcrumbs on small devices 
    .buk-main-container .breadcrumb {
        display: none;
    }*/

    /* Display Collapsed Menu Toggle Bar on tablet devices */
    header .navbar-toggle{
        display: block !important; 
    }
    
    header .navbar-collapse.collapse{
        display: none !important; 
    }

    /* Keep the menu bar expanded on expansion */
    header .navbar-collapse.collapse.in{
        display: block !important; 
    }

    /* Increase size of icon-bars */
    header .navbar-toggle .icon-bar{
        width: 30px;
        height: 5px;
    }

    footer {
        font-size: 80%;
    }

    /* Small horizontal padding on small devices - Non-full width columns*/
    footer .col-sm-1, footer .col-sm-2, footer .col-sm-3, footer .col-sm-4, footer .col-sm-5, footer .col-sm-6,
    footer .col-sm-7, footer .col-sm-8, footer .col-sm-9, footer .col-sm-10, footer .col-sm-11,
    footer .col-xs-1, footer .col-xs-2, footer .col-xs-3, footer .col-xs-4, footer .col-xs-5, footer .col-xs-6,
    footer .col-xs-7, footer .col-xs-8, footer .col-xs-9, footer .col-xs-10, footer .col-xs-11{
        padding-left: 0;
        padding-right: 0;
    }

    /* Small horizontal padding on small devices - Full width columns*/
    footer .col-sm-12,
    footer .col-xs-12{
        padding-left: 5px;
        padding-right: 5px;
    }

    /* Display collapsable footer for small devices */
    .buk-footer-sm{
        display: block;
    }
    /* Hide expanded footer for large devices only */
    .buk-footer-lg{
        display: none;
    }
}

/* Large and medium devices <=768px */
@media (min-width: 768px) {
    /* display bordered menu items */
    nav ul > li{
        display: inline-block;
        padding: 10px;  /* medium tablet-makes nav items fill screen without overlap */
        margin-right: 20px;
        margin-top: 5px;
        margin-bottom: 5px;
        border-right-style: ridge;
        border-top-style: ridge;
        border-radius: 100px 100px 100px 100px;
        border-color: #FFFFF0;
    }

    /* Fill entire menu item with #FFFFF0 color when a has focus */
    nav ul > li > a:focus{
        padding: 2px 5px 2px 5px;
        border-left-style: ridge;
        border-bottom-style: ridge;
        border-radius: 100px 100px 100px 100px;
        border-color: #FFFFF0;
    } 

    /* home button on nav bar-dont display bordered menu items*/
    #buk-home-link.buk-home-link-show{
        border-right-style: none;
        border-top-style: none;
    }

    /* dont fill menu item when home button has focus */
    #buk-home-link.buk-home-link-show > a:focus{
        border-left-style: none;
        border-bottom-style: none;
    }

    /* hide nav home link on home page */
    .buk-home-link-hide{
        display: none;
    }

    /* Display expanded footer for large-medium devices only */
    .buk-footer-lg{
        display: block;
    }
    /* Hide collapsable footer for small-extra small devices */
    .buk-footer-sm{
        display: none;
    }
}

/* nav padding for large devices-wider area to span nav iems */
@media (min-width: 1024px) {
    nav ul > li{
        padding: 10px 20px 10px 20px;
    }
}

/* aesthetics for staff page */
#staff-main-content section,
#branches-main-content section{
    padding-left: 0;
    padding-right: 0;
}

#staff-main-content h2,
#branches-main-content h2{
    margin-top: 10px;
    padding-left: 15px;
    background-color: #191970;
    color: #f5fffa;
    font-weight: 600;
}

#staff-main-content .buk-staff-descr h3{
    margin-top: 0;
    color: #191970;
    font-weight: 400;
}

#staff-main-content .buk-staff-descr p{
    font-weight: 600;
}

/* smaller font for small devices on staff description */
@media screen and (max-width: 768px){
    #staff-main-content .buk-staff-descr p{
        font-size: 80%;
    }
}

#staff-main-content .row{
    margin-bottom: 8px;
}

#staff-main-content section div.buk-staff-img > img{
    border-radius: 150px;
    border-color: #191970;
}

#branches-main-content section div.buk-branch-img > img{ 
    padding: 0 5px 5px 5px;
    border-right: 3px outset;
    border-left: 3px outset;
    border-color: #191970;
    border-radius: 50px;
}

#buk-collection-slideshow{
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 10px;
    border-right-style: outset;
    border-left-style: outset;
    border-radius: 50px;
    border-color: #191970;
}

/* on small devices, contents of carousel dont fit in 50px border-radius so make 30px */
@media screen and (max-width: 768px){
    #buk-collection-slideshow{
        border-radius: 30px;
    }
}

#buk-collection-slideshow .carousel-control{
    border-radius: 50px;
}

#buk-collection-slideshow h2{
    margin-top: 0;
    padding-top: 5px;
    margin-bottom: 5px;
    background-color: #191970;
    color: #f5fffa;
    font-weight: 600;
    text-align: center;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
}

/* center slideshow images */
#buk-collection-slideshow div img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
}

#buk-collection-slideshow .carousel-control.left span.glyphicon-chevron-left,
#buk-collection-slideshow .carousel-control.right span.glyphicon-chevron-right{
    color:  #f5fffa;
}

/* class to center images */
.buk-center-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* font-awesome icons spacing*/
i.fas{
    padding-right: 5px;
}