<p>
  Currently Dibukeng operates from three premises:
</p>
<ol>
  <li>The original 'Main Branch' in Willie Theron Building, next to the 
    Bosman train station and taxi rank, houses our depot for Bibles, hymnals, 
    church requisites, school text books and stationery.
  </li>
  <li>The 'Grootkerk Branch' at corner Bosman and Madiba Street, houses all 
    the above-mentioned stock as well as a wide variety of Christian literature 
    and a theology section. The import of material for ministries’ uniform done 
    and distributed from here. The head office function is also done from here.
  </li>
  <li>The Silverton Branch is a small depot serving the eastern suburbs and the 
    Mamelodi Service Centre. Because of its size, limited stock is kept here.
  </li>
</ol>
