<article id="branches-main-content">
  <h1>Dibukeng Branches</h1>
  <p>
    Currently Dibukeng operates from three premises.
  </p>
  <section class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h2>Main Branch</h2>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 buk-branch-img">
      <img src="assets/buk-logo-emblem.PNG" alt="Dibukeng logo" class="img-responsive center-block">
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <p>The original 'Main Branch' in Willie Theron Building, next to the 
        Bosman train station and taxi rank, houses our depot for Bibles, hymnals, 
        church requisites, school text books and stationery.</p>
      <p><i class="fas fa-map-marker-alt" title="Address"></i>
        <a href="https://goo.gl/maps/Yz7XpcgpubgPmvHB8" rel="noferrer" target="_blank">512 Willie Theron Building, Bosman St, Pretoria Central, Pretoria, 0001</a>
      </p>
      <p><i class="fas fa-phone" title="Phone"></i>012 326 8737/8</p>
      <p><i class="fas fa-fax" title="Fax"></i>012 323 5825</p>
      <p><i class="fas fa-envelope" title="Email"></i>dibukeng@absamail.co.za</p>    
    </div>
  </section>
    <section class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h2>Grootkerk Branch</h2>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 buk-branch-img">
        <img src="assets/buk-logo-emblem.PNG" alt="Dibukeng logo" class="img-responsive center-block">
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <p>The 'Grootkerk Branch' at corner Bosman and Madiba Street, houses all 
          the above-mentioned stock as well as a wide variety of Christian literature 
          and a theology section. The import of material for ministries’ uniform done 
          and distributed from here. The head office function is also done from here.</p>
        <p><i class="fas fa-map-marker-alt" title="Address"></i>
          <a href="https://goo.gl/maps/Mw9GxX6Z4wdtV7tz6" rel="noferrer" target="_blank">173 Bosman St, Pretoria Central, Pretoria, 0201</a>
        </p>
        <p><i class="fas fa-phone" title="Phone"></i>012 323 0841</p>
        <p><i class="fas fa-fax" title="Fax"></i>012 323 1665</p>
        <p><i class="fas fa-envelope" title="Email"></i>dibukeng@absamail.co.za</p> 
      </div>
    </section>
    <section class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h2>Silverton Branch</h2>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 buk-branch-img">
        <img src="assets/buk-logo-emblem.PNG" alt="Dibukeng logo" class="img-responsive center-block">
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <p>The Silverton Branch is a small depot serving the eastern suburbs and the 
          Mamelodi Service Centre. Because of its size, limited stock is kept here.</p>
        <p><i class="fas fa-map-marker-alt" title="Address"></i>
          <a href="https://goo.gl/maps/42FgDG43X2EKA2f68" rel="noferrer" target="_blank">165 De Boulevard, Silverton, Pretoria, 0127</a>
        </p>
        <p><i class="fas fa-phone" title="Phone"></i>012 804 1335</p>
        <p><i class="fas fa-envelope" title="Email"></i>dibukeng@absamail.co.za</p> 
      </div>
    </section>    
</article>